.consultation{
    margin-left: 2%;
}
.Titreconsultation{
    margin-top: 5%;
    margin-left: 30%;
}
.Rechercheconsultation {
    width: 20%;
    font-weight:15px;
    height: 25px;
    border-radius: 10px;
}